//
//  UAT.xcconfig
//  Orang3
//
//  Created by Lim Xuan Hui on 15/7/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Orang3/Pods-Orang3.debug-uat.xcconfig"
#include? "tmp.xcconfig"

// GIDClientID = 240016316671-bbb96sgu5i31ahsdro89fi7va1dr50r5.apps.googleusercontent.com
